.todo-list-container.nes-container {
  margin-bottom: 16px;
}

.todo-list {
  margin-top: 15px;
}

.todo-list-title {
  display: inline;

  .edit-title {
    color: black;
    visibility: hidden;
  }

  &:hover {
    color: #888;

    .edit-title {
      visibility: visible;
    }
  }
}

.one-todo {
  display: flex;
  font-size: 18px;
  position: relative;

  .todo-inputs {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .nes-checkbox:checked + span {
    color: #888;
  }

  .todo-item-actions-btn {
    visibility: hidden;

    align-self: center;
    font-size: 14px;
    padding: 5px;
  }
  &:hover .todo-item-actions-btn {
    visibility: visible;
  }

  .todo-item-actions-container {
    background: white;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 3;
  }

  .edit-value-container {
    display: flex;
    flex: 1;
    margin-bottom: 10px;
  }
}

.add-entity {
  .list-menu-container {
    position: fixed;
    bottom: 90px;
    right: 10%;
  }

  button {
    position: fixed;
    bottom: 20px;
    right: 10%;
    font-size: 26px;
  }
}

.edit-title-form {
  display: flex;
}
