.todo-list-container.nes-container {
  margin-bottom: 16px;
}

.todo-list {
  margin-top: 15px;
}

.todo-list-title {
  .edit-title {
    color: black;
    visibility: hidden;
  }

  &:hover {
    color: #888;

    .edit-title {
      visibility: visible;
    }
  }
}

.one-todo {
  display: flex;
  font-size: 18px;

  .todo-inputs {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .todo-item-actions-btn {
    visibility: hidden;
    font-size: 14px;
    padding: 5px;
  }
  &:hover .todo-item-actions-btn {
    visibility: visible;
  }
}

.add-entity {
  .list-menu-container {
    position: fixed;
    bottom: 90px;
    right: 10%;
  }

  button {
    position: fixed;
    bottom: 20px;
    right: 10%;
    font-size: 26px;
  }
}

.edit-title-form {
  display: flex;
}
