.todo-list {
  margin-top: 15px;
}

.todo-list-title {
  .edit-title {
    color: black;
    visibility: hidden;
  }

  &:hover {
    color: #888;

    .edit-title {
      visibility: visible;
    }
  }
}

.one-todo {
  font-size: 18px;
}

.add-entity {
  .list-menu-container {
    position: fixed;
    bottom: 90px;
    right: 10%;
  }

  button {
    position: fixed;
    bottom: 20px;
    right: 10%;
    font-size: 26px;
  }
}

.edit-title-form {
  display: flex;
}
